<!DOCTYPE html>

<html>
<head>
<title>welcome to WKUYKT</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>-->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
 
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--导入Vue-->
<script src="lib/vue.min.js"></script>
<!--导入我的config-->
<script src="lib/myConfig.js"></script>
<!--导入我的ajax-->
<script src="lib/ajax.js"></script>

<script>
window.onload=function(){
let myConfig=new Config();
let vm=new Vue({
	el:'.container',
	data:{
		StID:'',
		StPassword:'',
		StConfPassword:'',
		InstID:'',
		InstPassword:'',
		InstConfPassword:''
	},
	methods:{
		studentReg(){
			alert('studentReg,StID:'+this.StID+';StPassword:'+this.StPassword+
				';StConfPassword:'+this.StConfPassword);
			MyAjax(myConfig.apiAddress+myConfig.stReg+new Date().getTime(),function(str)
			{//通过改url实现前端的阻止缓存
				alert(str);
			},function()
			{
				alert('失败');
			});
		},
		instructorReg(){
			alert('instructorReg,InstID:'+this.InstID+';InstPassword:'+this.InstPassword+
				';InstConfPassword:'+this.InstConfPassword);
			MyAjax(myConfig.apiAddress+myConfig.instReg+new Date().getTime(),function(str)
			{//通过改url实现前端的阻止缓存
				alert(str);
			},function()
			{
				alert('失败');
			});
		}
	}
});

};
</script>

</head>
<body>
<!--上方栏-->
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#example-navbar-collapse">
				<span class="sr-only">切换导航</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">WKUYKT</a>
		</div>
		<div class="collapse navbar-collapse" id="example-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="">Video</a></li>

			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="jumbotron">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active">
			<a href="#student" data-toggle="tab">
				Student Registration
			</a>
		</li>
		<li>
			<a href="#instructor" data-toggle="tab">
				Instructor Registration
			</a>
		</li>
		
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="student">
			<h2 class="text-center">Student Registration</h2><br/>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="StudentID" class="col-sm-2 control-label">Student ID</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="StudentID" v-model="StID" placeholder="Enter Student ID Here">
							</div>
						</div>
						<div class="form-group">
							<label for="StudentPassword" class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="StudentPassword" v-model="StPassword" placeholder="Enter Password Here">
							</div>
						</div>
						<div class="form-group">
							<label for="StudentConfirmedPassword" class="col-sm-2 control-label">Confirmed Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="StudentConfirmedPassword" v-model="StConfPassword" placeholder="Enter Confirmed Password Here">
							</div>
						</div>
						<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" id="StudentReg" class="btn btn-primary" v-on:click.prevent="studentReg">Registration</button>
							</div>
						</div>
						<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" id="StudentLogin" class="btn btn-default"><a href="login.html">&nbsp&nbsp&nbsp&nbspLogin&nbsp&nbsp&nbsp&nbsp</a></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="instructor">
			<h2 class="text-center">Instructor Registration</h2><br/>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="InstructorID" class="col-sm-2 control-label">Instructor ID</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="InstructorID" v-model="InstID" placeholder="Enter Instructor ID Here">
							</div>
						</div>
						<div class="form-group">
							<label for="InstructorPassword" class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="InstructorPassword" v-model="InstPassword" placeholder="Enter Password Here">
							</div>
						</div>
						<div class="form-group">
							<label for="InstructorConfirmedPassword" class="col-sm-2 control-label">Confirmed Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="InstructorConfirmedPassword" v-model="InstConfPassword" placeholder="Enter Confirmed Password Here">
							</div>
						</div>
						<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" id="InstructorRegistration" class="btn btn-primary" v-on:click.prevent="instructorReg">Registration</button>
							</div>
						</div>
						<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" id="InstructorLogin" class="btn btn-default"><a href="login.html">&nbsp&nbsp&nbsp&nbspLogin&nbsp&nbsp&nbsp&nbsp</a></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
		
	</div>
</div>
<nav class="navbar navbar-default navbar-static-bottom" role="navigation">
    <center>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    Rules of WKUYKT
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    picture
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    copy right etc...
                </div>
            </div>
        </div>
    </center>
</nav>
    

</body>
</html>